<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="num1" class="form-label">Numero1</label>
            <input type="text" [(ngModel)]='num1' class="form-control" name="num1" placeholder="Numero1" id="">
        </div>
        <div class="mb-3">
            <label for="num2" class="form-label">Numero2</label>
            <input type="text" [(ngModel)]='num2' class="form-control" name="num2" placeholder="Numero2" id="">
        </div>
        <div class="mb-3">
            <button (click)="operacion()" class="btn btn-primary">Calcular</button>
        </div>
    </div>
    
    <div>
        <fieldset>
            <legend>Elija la operacion que quiera hacer:</legend>
            <label>Sumar<input [(ngModel)]='radioButton' type="radio" name="operacion" value="1" checked></label><br>
            <label>Restar<input [(ngModel)]='radioButton' type="radio" name="operacion" value="2"></label><br>
            <label>Multiplicar<input [(ngModel)]='radioButton' type="radio" name="operacion" value="3"></label><br>
            <label>Dividir<input [(ngModel)]='radioButton' type="radio" name="operacion" value="4"></label><br>
        </fieldset>
    </div>
    <div class="col-6">
        <h2>Resultado: {{resultado}}</h2>
    </div>
</div>